<!doctype html>
<html lang="en">

<head>
  <title>Resume Uploader</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container">
        <div class="card text-white bg-primary">
          <div class="card-body text-center">
            <h1>Resume Uploader</h1>
          </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 shadow">
                <h2>Resume Uploader Form </h2>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    {% for form_field in form %}
                        <div class="mb-3 row">
                            <label for="inputName" class="col-4 col-form-label">{{form_field.label_tag}}</label>
                            <div class="col-8">
                                {{form_field}}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="mb-3 row">
                        <div class="offset-sm-4 col-sm-8">
                            <button type="submit" class="btn btn-primary">Action</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <h2>Candidate List:</h2>
                <!-- Hover added -->
                <div class="list-group">
                    {% for obj in resume_list %}
                      {% url 'candidate_detail' obj.id as ucd_id %}
                      <a href="{{ucd_id}}" class="list-group-item list-group-item-action"> 
                        <img src="{{obj.profile_image.url}}" alt="" class="img-fluid img-thumbnail float-end" width="50" height="50"> 
                        {{obj.id}}. {{obj.name}} 
                      </a>
                      
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>